<div class="well well-lg newsletter">
  <h3 class="text-center">Saiba mais!<br/> Sobre nossa revolução.</h3>
  <% @lead = Lead.new %>
  <div class="form-lead">
    <%= simple_form_for @lead, url: leads_path, method: 'POST', remote: true, html: { class: 'form-horizontal', id: 'new_lead_footer' } do |f| %>
        <%= f.error_notification %>
        <%= f.input :first_name, required: true, class: 'col-md-6', label: false, placeholder: 'Nome' %>
        <%= f.input :last_name, required: true, class: 'col-md-6', label: false, placeholder: 'Sobrenome' %>
        <%= f.input :email, required: true, label: false, placeholder: 'Email' %>
        <div class="text-center">
          <%= f.button :submit, 'Inscrever', class: 'btn-success' %>
        </div>
    <% end %>
  </div>
</div>
