<%= content_for :title, 'Blog' %>
<%= content_for :description, 'Blog - 7 DIAS PARA O SUCESSO' %>

<% if @posts.size > 0 %>
    <% @posts.each do |post| %>
        <!-- Lista de post  -->
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="page-header">
                  <h3>
                    <%= link_to post.title.to_s.capitalize, post_path(post) %>
                  </h3>
                  <small><i class="fa fa-calendar"> <%= post.created_at.to_formatted_s(:short) %></i></small>
                  <small class="autor"><i class="fa fa-user"> Equipe GAMARA</i></small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <a href="#" class="thumbnail">
                  <%= link_to post_path(post) do %>
                    <%= image_tag post.image.url(:medium), alt: 'Post image', class: 'noticia' %>
                  <% end %>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= truncate(strip_tags(post.body), length: 100) %> <%= link_to 'Leia mais...', post_path(post) %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
<% else %>
    <h3>Nenhum post :(</h3>
<% end %>

<!--Paginação-->
<div class="row">
  <div class="col-md-8">
    <%= will_paginate @posts %>
  </div>
</div>
<!-- End Paginação -->