<%= content_for :title, @post.title %>
<%= content_for :description, @post.title + ' - 7 DIAS PARA O SUCESSO' %>


<!-- Post show -->
<div class="row blog-content">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>
            <%= @post.title.to_s.capitalize %>
            <small><i class="fa fa-calendar"></i><%= @post.created_at.to_formatted_s(:short) %></small>
          </h1>
        </div>
      </div>
    </div>
    <div class="row content">
        <div class="row">
          <div class="col-md-12">
              <%= image_tag @post.image.url(:medium), alt: 'Post image', class: 'noticia' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= @post.body.html_safe %>
          </div>
        </div>
    </div>
  </div>
</div>
