<%= content_for :title, @post.title %>
<%= content_for :description, @post.title + ' - 7 DIAS PARA O SUCESSO' %>


<!-- Post show -->
<div class="row blog-content">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h3>
            <%= @post.title.to_s.capitalize %>
          </h3>
          <i class="fa fa-calendar"> <%= @post.created_at.to_formatted_s(:short) %></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <%= image_tag @post.image.url(:medium), alt: 'Post image', class: 'noticia' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= @post.body.html_safe %>
      </div>
    </div>
  </div>
</div>
