<%= content_for :title, @post.title %>
<%= content_for :description, @post.title + ' - 7 DIAS PARA O SUCESSO' %>
<%= content_for :og_image, @post.image.url(:original) %>
<%= content_for :og_description, truncate(strip_tags(@post.body).to_s, length: 150) %>

<!-- Post show -->
<div class="row blog-content">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>
            <%= @post.title.to_s.capitalize %>
            <small class="pull-right">
              <span class="hash show-category"><%= @post.category %></span>
              <i class="fa fa-calendar"></i><%= @post.created_at.to_formatted_s(:short) %>
            </small>
          </h1>
        </div>
      </div>
    </div>
    <div class="row content">
        <div class="row">
          <div class="col-md-12 text-center">
              <center>
                  <%= image_tag @post.image.url(:original), alt: 'Post image', class: 'noticia img-responsive img-rounded' %>
              </center>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= @post.body.html_safe %>
          </div>
        </div>
    </div>
  </div>
</div>
