<footer>
    <div class="row footer-image">
        <div class="container">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12 ">
                        <a href="/"><%= image_tag 'logo_negativo.png', alt: '7 dias para o sucesso', class: 'logo' %></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-justify" style="padding: 0 10px;">
                            7 Dias Para o Sucesso, é uma iniciativa sem fins lucrativos que irá durar apenas 7 dias(dã),
                            nosso objetivo é revolucionar o cenário de e-commerce brasileiro,
                            trazendo uma série EXCLUSIVA de conteúdo de qualidade 100% gratuito,
                            desenvolvido por uma equipe de experts apaixonados, dedicados, perfumados, viciados em café,
                            que querem inspirar empreendedores a tornar nosso País melhor!
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="fb-like" data-href="http://www.7diasparaosucesso.com/" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h4 class="text-center">Feito com <i class="fa fa-heart"></i> em SP</h4>
                <br/>
                <center>
                    <i class="text-center">
                        <span class="text-center">Tempo para essa página deixar de existir:</span><br/>
                    </i>
                </center>
                <h2 class="text-center timer">00:00:00</h2>
            </div>
            <div class="col-md-4">
                <div class="col-md-10"><%= render 'leads/form_footer' %></div>
            </div>
        </div>
    </div>
</footer>

<!-- <%= debug(params) if Rails.env.development? %>
<% if Rails.env.development? %>
    <script>
      console.log("Controller: <%= controller_name %> | Action: <%= action_name %> | ID: <%= params[:id] if params[:id].present? %>");
    </script>
<% end %> -->
