
  <!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <%= image_tag 'logo.png', alt: 'Logo', class: 'logo' %>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to '7 DIAS PARA O SUCESSO', root_path %>
          </li>
          <li class="<%= is_active('posts', 'index') %>">
            <%= link_to 'Blog', root_path %>
          </li>
          <li class="<%= is_active_hv('pages', 'sobre') %>">
            <%= link_to 'Sobre', page_path('sobre') %>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
<aside class="">
    <!-- <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Quem Somos</a></li>
        <li role="presentation"><a href="#">Quizz</a></li>
    </ul> -->
    <div class="col-md-4 sidebar">
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="/"><%= image_tag 'logo.png', alt: '7 dias para o sucesso', class: 'logo' %></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center" style="min-height: 91px !important;">
              <div class="fb-like" data-href="http://www.7diasparaosucesso.com/" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="true" style="min-height: 28px !important; margin: 10px 8px !important;"></div>
              <hr />
            </div>
            <div class="col-md-12 text-center">
                <i><span>O conteúdo continuará disponível por mais:</span><br/></i>
                <h2 class="timer">00:00:00</h2>
            </div>
        </div>

        <div class="row banner">
            <div class="col-md-10 quizz">
                <a href="./qual-a-melhor-plataforma-para-o-meu-negocio" class="btn">Qual a melhor plataforma<br/>para o seu negócio</a>
            </div>
        </div>

        <div class="row">
          <div class="col-md-12"><%= render 'leads/form_side' %></div>
        </div>
    </div>
</aside>
